@import '~bootstrap/scss/bootstrap';

$primary-color: #efefef;
$font-size:     14px;

body {
  min-height: 5rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: $primary-color;
  font-size: $font-size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius(0.25em);
  border: 1px solid black;
  padding: 0.5em;
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
