<div class="card">
  <div class="card-block">
    <div class="card-title">
      <span *ngIf="legacy.selected"><h5>Selected Language: {{legacy.selected.name}}</h5></span>
      <span *ngIf="!legacy.selected"><h5>Select your Language</h5></span>
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-secondary" *ngFor="#lcode of legacy.legacyCode"
             (click)="selectCode(lcode)"
             [class.active]="legacy.selected && legacy.selected.id == lcode.id">
        <input type="radio"
               [attr.checked]="legacy.selected && legacy.selected.id == lcode.id"
               autocomplete="off">{{ lcode.name }}
      </label>
    </div>
    <span class="text-muted">Note: <span *ngIf="legacy.selected">{{legacy.selected.info}}</span></span>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h5>Define your main sizing factors</h5>
    </div>
    <form>
      <div class="form-group row col-md-4">
        <label>Lines Of Code (LOC)</label>
        <div class="col-md-3">
          <input type="number" id="legacyLOC" [(ngModel)]="legacy.loc" class="form-control"/>
        </div>
      </div>
      <div class="form-group row col-md-4">
        <label>Database Modernization</label>
        <div class="col-md-3">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="selectedDB" checked="true">No
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="selectedDB">Yes
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h5>Modernization estimates</h5>
      <small class="text-muted">
        You can refine your modernization budget by changing productivity ratio and delivery sourcing mix. For more
        details, access Full Calculator / Budget Calculator.
      </small>
      <div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{legacy.locRatio}} {{locHour}}</label>
            <div class="col-md-3" data-toggle="buttons">
              <input type="range" min=0 max=3000 [(ngModel)]="legacy.locRatio" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>{{legacy.offshore}} % Offshore</label>
            <div class="col-md-3" data-toggle="buttons">
              <input type="range" min=0 max=100 [(ngModel)]="legacy.offshore" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-xs-8">Effort Built (hours)</div>
            <div class="col-xs-4">0</div>
          </div>
          <div class="row">
            <div class="col-xs-8">Effort Project (hours)</div>
            <div class="col-xs-4">0</div>
          </div>
          <div class="row">
            <div class="col-xs-8">Effort SDLC (SIT / UAT ) (hours)</div>
            <div class="col-xs-4">0</div>
          </div>
          <div class="row">
            <div class="col-xs-8">Full Budget (USD)</div>
            <div class="col-xs-4">0</div>
          </div>
          <div class="row">
            <div class="col-xs-8">Build Budget per LOC (USD)</div>
            <div class="col-xs-4">0.00$</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h5>Test autocomplete</h5>
    </div>
    <div class="card-block">
      <cautocomplete [(ngModel)]="legacyCode"
                     [suggestions]="results"
                     (completeMethod)="search($event)"
                     (onSelect)="onSelectAuto($event)"
                     [minLength]="2"
                     [field]="'name'"
      ></cautocomplete>
      <hr/>
      {{legacyCode}}
      <hr/>
      <h4>Selected legacy</h4>
      <ul>
        <li *ngFor="#legacyCode of selectedLegacyCode">
          {{legacyCode.name}}
        </li>

      </ul>
    </div>
  </div>
</div>
